* {
  box-sizing: border-box;
 
}

body {
  background-color: #a5e9f0;
  
}
h1 {
  margin-bottom: 40px;
  text-align: center;
  font-family: system-ui;
}
section {
  position: relative;
}
#box,#box2,#box3 {
  border: 1px solid;
  margin: 10px;
  width: 31%;
  float: left;
  position:relative;
}

#content,#content2,#content3 {
 background-color: #eee9e9; 
  padding: 8px;
}

section > span {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 8px;
  width: 90px;
  font-size: 125%;
  text-align: center;
  
}
#title {
  background-color: #43D650;
}
#title2 {
  background-color: red;
}
#title3 {
  background-color: #d643c9;
}


@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    margin-bottom: 25px;}
  
   #box,#box2 {
     
    width: 47%;
  }
  #box3 {
    display:block;
    width: 97%;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-bottom: 15px;}
  
  #box,#box2,#box3 {
    
    display:block;
    width: 97%;
  }
}
